<%= turbo_frame_tag "caluculation_result" do %>
  <% if @caluculation %>
    <h3>中継地点での待ち時間</h3>
    <%= render partial: "current_time", locals: { current_time: @caluculation[:current_time] } %>
    <table>
      <thead>
        <tr>
          <th>
            <%= "乗車時間" %>
          </th>
          <th>
            <%= "中継地点到着時間" %>
          </th>
          <th>
            <%= "中継地点待ち時間" %>
          </th>
          <th>
            <%= "中継地点出発時間" %>
          </th>
          <th>
            <%= "降車時間" %>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= @caluculation[:get_on_time] %>
          </td>
          <td>
            <%= @caluculation[:arriving_relay_point_time] %>
          </td>
          <td>
            <%= @caluculation[:wait_time] %>
          </td>
          <td>
            <%= @caluculation[:leaving_relay_point_time] %>
          </td>
          <td>
            <%= @caluculation[:get_off_time] %>
          </td>
        </tr>
      </tbody>
    </table>
  <% else %>
    乗換なし
  <% end %>
<% end %>
