<%= form_with(model: @busstop, url: "/search", method: :get) do |f| %>
  <table>
    <thead>
      <tr>
          <th>
            <%= f.label :title, "乗車" %>
          </th>
          <th>
            <%= f.label :title, "降車" %>
          </th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>
              <%# <%= f.select :get_on, @busstop.map{|b| [b.name, b.name]}, include_blank: "選択して下さい" %> %>
          </td>
            <td>
              <%# <%= f.select :get_off, @busstop.map{|b| [b.name, b.name]}, include_blank: "選択して下さい" %> %>
          </td>
      </tr>
  </tbody>
</table>
<div class="btn-blue:hover"><%= f.submit "検索" %></div>
<button class="btn btn-blue">Button</button>
<% end %>
