<%= form_with(model: @busstop, url: "/search", method: :get) do |f| %>
  <%# Todo: プルダウンを変更する %>
  <%# https://v1.tailwindcss.com/components/forms#custom-select %>
  <table>
    <thead>
      <tr>
          <th>
            <%= f.label :title, "乗車" %>
          </th>
          <th>
            <%= f.label :title, "降車" %>
          </th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>
              <%# <%= f.select :get_on, @busstop.map{|b| [b.name, b.name]}, include_blank: "選択して下さい" %> %>
          </td>
            <td>
              <%# <%= f.select :get_off, @busstop.map{|b| [b.name, b.name]}, include_blank: "選択して下さい" %> %>
          </td>
      </tr>
  </tbody>
</table>
<%= f.submit "検索", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
<% end %>
