<%= turbo_frame_tag "search_results" do %>
  <div class="container my-5">
    <h1 class="text-center mb-4">Search Results</h1>
    <% if @search_results %>
      <ul class="list-group">
        <% @search_results.each do |result| %>
          <li class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%= result[:stop_name] %></h5>
              <small><%= result[:stop_name] %></small>
              <small>Arrival Time: <%= result[:arrival_time] %></small>
              <small>Departure Time: <%= result[:departure_time] %></small>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div class="alert alert-warning" role="alert">
        No results found.
      </div>
    <% end %>
  </div>
<% end %>