<%= turbo_frame_tag "caluculated" do %>
  <%= render partial: "now", locals: { now: @caluculated.now } %>
  <% if @caluculated.wait_time %>
    <h3>中継地点での待ち時間</h3>
    <ul>
    <li>乗車: <%= @result.on %></li>
    <li>降車: <%= @result.off %></li>
    <li>中継地点: <%= @result.wait_time %></li>
    <%# <li>中継地点: <%= @result.relay_point %>
    <li>待ち時間: <%= @result.wait_time %></li>
    </ul>
  <% end %>
<% end %>
