<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>北区コミュニティバス - 乗換待ち時間計算</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <turbo-frame id="flash">
      <%= render "shared/flash" %>
    </turbo-frame>
    <%= render "shared/header" %>
    <%= render "shared/navbar" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
