<!DOCTYPE html>
<html>
  <head>
    <title>北区コミュニティバス - 乗換待ち時間計算</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <turbo-frame id="flash">
      <%= render "shared/flash" %>
    </turbo-frame>
    <%= render "shared/header" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
